@import "./reset.css";

:root {
  --border: 1px solid #cccccc;
  --border-radius: 14px;
  --input-width: 350px;
  --text-small: 16px;
  --text-large: 20px;
  --text-big: 24px;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --color-green-1: #64c964;
  --text-color: #dddddd;
  --font-family: "메이플스토리";
}
body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  font-family: var(--font-family);
}

/*  Header */
header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

header > div {
  display: flex;
}

header .head_text {
  width: 100%;
  font-size: 25px;
  justify-content: center;
}

/*  Nav  */
.Nav {
  display: flex;
  align-items: center;
  border-top: 1px solid #e2e2e2;

  padding-top: 20px;
  padding-bottom: 10px;

  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: inherit;
  background-color: white;
}
.clickBtn {
  color: #64c964;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding: 10px 40px;
  border-radius: 10px;
}
svg {
  color: black;
}
/*  Home */
.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.Home_wrapper {
  display: flex;
  width: 100%;
}
/* 
.Home_date h2 {
  margin-top: 40px;
  font-size: 18px;
  color: black;
  background-color: #ececec;
  padding: 10px;
  border-radius: 20px;
} */

/* .Home_count {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 120px;
  padding: 20px;
} */
.Home_wrapper_column {
  width: 50%;
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Home_wrapper_column:first-child {
  display: flex;
  flex-direction: column;
}
.Home_date h2 {
  font-size: 20px;
}
.Home_count {
  font-size: 200px;
}
.Home_button {
  position: relative;
}
.Home_button button {
  border: none;
  font-size: 200px;
  width: 250px;
  height: 250px;
  cursor: pointer;
  border-radius: 20px;
}

/*  SmokeList */
.SmokeList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SmokeList h2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;

  padding-top: 10px;
  padding-bottom: 10px;

  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
}

.SmokeList_list_wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  border-radius: 20px;
  background-color: #ececec;
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;

  -ms-overflow-style: none;
}
.SmokeList_list_wrapper::-webkit-scrollbar {
  display: none;
}
.SmokeList_reset {
  position: absolute;
  right: 20px;
}
.SmokeList_reset button {
  border: none;
  cursor: pointer;
}
.SmokeItem {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px 0px;
  width: 90%;
}

.lastest_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ececec;
  padding: 10px 40px;
  border-radius: 10px;
  align-items: center;
  font-size: 20px;
  width: 100px;
}
.lastest_span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lastest_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 4px;
  cursor: pointer;
}
.lastest_btn button {
  border: none;
  background-color: #ececec;
  font-size: 16px;
  padding: 5px;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Loading_wrapper {
  background-color: #ececec;
  border: none;
  font-size: 200px;
  width: 250px;
  height: 250px;
  border-radius: 20px;
}

.Loading {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  border-radius: 50%;
  border: 5px solid #cccccc;
  border-top-color: #000;

  animation: spinner 0.6s linear infinite;
}

.Calendar {
  display: flex;
  flex-direction: column;
}
.Calendar_header {
  width: 97%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 10px;
}
.Calendar_text {
  font-size: 18px;
  color: #818181;
}
.month {
  font-size: 24px;
  font-weight: bold;
  margin-right: 5px;
  color: #000;
}
.Calendar_button {
  display: flex;
}
.col {
  display: flex;
  width: 100px;
}
.col-end button {
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 5px 2px;
  cursor: pointer;
}
.Calendar_days {
  display: flex;
  width: 98%;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  border-bottom: 1px solid #ececec;
  background-color: #ececec;
}
.cell {
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 3px;
  border: 1px solid #ececec;
}
.Calendar_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.row {
  display: flex;
}
