@import "./reset.css";
:root {
  --border: 1px solid #cccccc;
  --border-radius: 14px;
  --input-width: 350px;
  --text-small: 16px;
  --text-large: 20px;
  --text-big: 24px;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --color-green-1: #64c964;
  --text-color: #dddddd;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Settings input::placeholder {
  color: var(--text-color);
}
.Settings button {
  width: 340px;
  padding: 20px;
  cursor: pointer;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}
.Settings button:active {
  background-color: #dddddd;
}
.Report {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Report-column {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  width: 400px;
}

.Report-column div {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-right: var(--border);
  padding: 20px;
  width: 33%;
}
.Report-column div:last-child {
  border-right: none;
}
.Report-column div span {
  font-size: var(--text-small);
}
.Report-column div span:first-child {
  margin-bottom: 10px;
}

.Home div {
  margin-bottom: 40px;
}

.Home-button button:active {
  background-color: #dddddd;
}
